#background {
    position: fixed;
    top: 0px;
    left: 30px;
    width: 65%;
    height: 260%;
    background-color: #333;
    z-index: 3;
    transform: rotate(110deg);
}
html {
   background-color:white; 
}
body {
    background-color:transparent;
}


#back {
    padding:0;
    margin: 0;
    position: fixed;
    top:0;
    left:0px;
    background-color: #333;
    width: 2%;
    height: 2%;
    padding: .5%;
    border-radius: 0px 0px 100px 0px;
    color: #fff;
    transition: all .5s;
    text-decoration: none;
    font-size: .8em;
}
#back:hover {cursor: pointer;transform: translateX(-4px);}

#options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 7%; 
    z-index:10;
}

h1 {
    color: #333;
    font-size: 6em;
    font-family: arial;
    border: 3px solid #333;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#options a {
    color: #fff;
    font-size: 2em;
    font-family: arial;
    padding: 20px;
    background-color: #333;
    border-radius: 100px;
    margin: 1%;
    border: 1px solid #fff;
    transition: all 1s;
    text-decoration: none;
}

#options a:nth-child(2):hover {
    cursor: pointer;
    background-color: #538062;
}

#options a:nth-child(3):hover {
    cursor: pointer;
    background-color: #9B6464;
}
