#background {
    position: fixed;
    top: 0px;
    left: 30px;
    width: 75%;
    height: 260%;
    background-color: #333;
    z-index: -1000;
    transform: rotate(110deg);
}

#options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 7%; 
}

h1 {
    color: #333;
    font-size: 6em;
    font-family: arial;
    border: 3px solid #333;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#options div,a {
    color: #fff;
    font-size: 2em;
    font-family: arial;
    padding: 20px;
    background-color: #333;
    border-radius: 100px;
    margin: 1%;
    border: 3px solid #fff;
    transition: all 1s;
    text-decoration: none;
}

#options a:hover {
    cursor: pointer;
    background-color: #41F671;
}

#options div:hover {
    cursor: pointer;
    background-color: #F64141;
}